

@import '../../../assets/css/mixin.less';
@import '../../../assets/css/theme.less';

.tickets_container{
    position: fixed;
    .position-full;
    z-index: 2;
    background-color: @fill-body-darken;
}